<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">I'm an example component test.</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "App.vue",
    methods: {
        loadMemos() {
            console.log("LOAD CURRENT MEMO...");
            axios.get("/api/memo").then((response) => {
                console.log(response.data);
            });
        },
    },
    mounted() {
        console.log("Component mounted.");
        //this.loadMemos();
    },
};
</script>

<style scoped></style>
